.root {
  background-color: var(--gray-bg);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  animation: skeleton-fade 1000ms linear infinite;
}

@keyframes skeleton-fade {
  0%,
  100% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }
}
